 <!-- Banner Section Begin -->
@*<section class="banner-section set-bg" data-setbg="img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-text">
                    <h2>Get training today</h2>
                    <p>
                        Gimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry’s standard.
                    </p>
                    <a href="#" class="primary-btn banner-btn">Contact Now</a>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="img/banner-person.png" alt="">
            </div>
        </div>
    </div>
</section>*@
<!-- Banner Section End -->
