
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mahi Gym</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bodyfit/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/animate.css">

    <link rel="stylesheet" href="/Content/bodyfit/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/magnific-popup.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/aos.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/Content/bodyfit/css/flaticon.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/icomoon.css">
    <link rel="stylesheet" href="/Content/bodyfit/css/style.css">
</head>
<body>
    <div>
        @Html.Partial("_Header")
    </div>

    <div>
        @RenderBody()
    </div>
    <div>
        @Html.Partial("_footer")
    </div>
    <!-- Js Plugins -->
    <script src="/Content/bodyfit/js/jquery.min.js"></script>
    <script src="/Content/bodyfit/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Content/bodyfit/js/popper.min.js"></script>
    <script src="/Content/bodyfit/js/bootstrap.min.js"></script>
    <script src="/Content/bodyfit/js/jquery.easing.1.3.js"></script>
    <script src="/Content/bodyfit/js/jquery.waypoints.min.js"></script>
    <script src="/Content/bodyfit/js/jquery.stellar.min.js"></script>
    <script src="/Content/bodyfit/js/owl.carousel.min.js"></script>
    <script src="/Content/bodyfit/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/bodyfit/js/aos.js"></script>
    <script src="/Content/bodyfit/js/jquery.animateNumber.min.js"></script>
    <script src="/Content/bodyfit/js/bootstrap-datepicker.js"></script>
    <script src="/Content/bodyfit/js/jquery.timepicker.min.js"></script>
    <script src="/Content/bodyfit/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/bodyfit/js/google-map.js"></script>
    <script src="~/Content/bodyfit/js/main.js"></script>
</body>
</html>
