
@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Section Begin -->
<div>
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <img src="~/Content/gutim/img/about-pic.jpg" alt="">
                        @*<a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                                <img src="~/Content/gutim/img/play.png" alt="">
                            </a>*@
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>Classes Details</h2>
                        <p class="first-para">
                            Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean pretium
                            sollicitudin, nascetur auci elit consequat ipsutissem niuis sed odio sit amet nibh vulputate
                            cursus a amet.
                        </p>
                        <p class="second-para">
                            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, gravida
                            quam semper libero sit amet. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                            rhoncus, gravida quam semper libero sit amet.
                        </p>
                        <a href="#" class="primary-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- About Section End -->
